.rankBadge {
  width: 30px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
  overflow: hidden;
  margin: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rankBadgeText {
  color: black;
  font-size: 16px;
  font-weight: 600;
}
